<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta name="description" content="louisachin.com" />
  <title>Louisa Chin</title>
  <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}css/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Slab" rel="stylesheet">
</head>

<body>

{% include header.html %}

<div id="page-wrapper">
    <div id="page-container">
    {{ content }}
    </div>
</div>

{% include footer.html %}

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

</body>

</html>
